@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Mona+Sans:ital,wght@0,200..900;1,200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Mona+Sans:ital,wght@0,200..900;1,200..900&family=Outfit:wght@100..900&display=swap");
@import "tailwindcss";

@theme {
  --color-primary: #734425;
  --color-secondary: #c26819;
  --font-Dm: "DM Sans", sans-serif;
  --font-Outfit: "Outfit", sans-serif;
}

.headphone-glow {
  filter: drop-shadow(8px 35px 6px #00000025)
    drop-shadow(0 2px 6px rgba(0, 0, 0, 0.2));
}
